[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"

[packages]
pandas = "*"
numpy = "*"
statsmodels = "*"
matplotlib = "*"
scipy = "*"
sympy = "*"
pycodestyle = "*"
